<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027245916352-ue1af4afu47un8qgbcditbk1m758a2ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027245916352-ue1af4afu47un8qgbcditbk1m758a2ah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1027245916352-hv4slqse0sih5k3g5grt547u6nutdka6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeq7A3rNqgvVJhD-lr3bR24trVb6TjYy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1027245916352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartReminderApp</string>
	<key>PROJECT_ID</key>
	<string>smart-schedule-7eb8a</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-schedule-7eb8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027245916352:ios:942379c8fc05ce4ed4ed25</string>
</dict>
</plist>